/* ===== LIBS ===== */
@import "../libs/bootstrap/scss/bootstrap";
@import "../libs/components-font-awesome/scss/font-awesome";

/* ===== BASE ===== */
@import "base/variables";
@import "base/mixins";

/* ===== HELPERS ===== */
@import "helpers/helpers";

/* ===== COMPONENTS ===== */
@import "components/off-canvas";
@import "components/select-default";
@import "components/box-default";

/* ===== LAYOUT ===== */
@import "layout/container";
@import "layout/header";

/* ===== PAGES ===== */
@import "pages/home-page";