._container {
	@media(min-width: map-get($grid-breakpoints, xs)) {
		padding: 6% 2%;
	}

	@media(min-width: map-get($grid-breakpoints, lg)) {
		@include setColumn(11, 'lg');
		margin-left: percentage(1 / 12);
		padding: 2.5rem 4%;
		@include clearfix();
	}
}