.top-header {
	margin-bottom: $marginb;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include transition(0.3s);

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 1rem 0.3rem;
		z-index: 1;
		@include transition(0.3s);
		background-color: #FFF;
		margin: 0;
		box-shadow: 0 0px 4px rgba(0,0,0,0.5);
	}

	> .left {
		width: 64%;
		display: flex;
		align-items: center;

		.iconmenu {
			margin-right: 0.5rem;
			color: $gray;
			@extend .btn;
			@extend .btn-secondary;
			border: 0;

			@include media-breakpoint-up(lg) {
				display: none;
			}
		}

		._select {
			width: 160px;
		}
	}

	> .right {
		width: 33%;
		display: flex;
		justify-content: flex-end;

		.configbutton {
			margin-right: 1rem;
			@extend .btn;
			@extend .btn-secondary;
			border: 0;
			color: darken($gray-lighter, 10%);
		}

		.user {
			width: 36px;
			height: 36px;

			> .photo {
				> .image {
					@extend .img-fluid;
					border-radius: 50%;
				}
			}
		}
	}
}