.home-page {
	.sanitation-data {
		margin-bottom: $marginb;

		@media(min-width: map-get($grid-breakpoints, md)) {
			display: flex;
			justify-content: space-between;
		}

		> ._box {
			@media(min-width: map-get($grid-breakpoints, md)) {
				width: 32%;
			}

			.bodybox {
				> .title {
					font-size: 1rem;
					color: $gray-light;
					@extend .card-title;
				}

				> .info {
					display: flex;

					.text {
						margin-right: 1rem;

						.number {
							&.-power {
								color: $powerColor;
							}

							&.-water {
								color: $waterColor;
							}

							&.-gas {
								color: $gasColor;
							}
						}
					}

					.date {
						display: block;
						color: darken($gray-lighter, 10%);
					}
				}
			}
		}
	}

	.weather-data {
		> ._box {
			.bodybox {
				.photo {
					.image {
						margin: 0 auto;
					}
				}
			}
		}
	}
}