.off-canvas {
	width: 40%;
	max-width: 150px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: -320%;
	z-index: 2;
	padding: 1rem 0;
	background-color: #FFF;
	text-align: center;
	overflow-y: auto;

	@include media-breakpoint-down(lg) {
		width: 120px;
	}

	@include media-breakpoint-up(lg) {
		left: 0;
		padding: 3rem 0;
	}

	.list {
		@extend .nav;

		.item {
			@extend .nav-item;
			margin-bottom: 2rem;
			padding: 0.75rem 0;
			border-right: 2px solid transparent;
			@include transition(0.3s);

			@media(min-width: map-get($grid-breakpoints, lg)) {
				margin-bottom: 3rem;
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			&:hover {
				border-right-color: $gray-dark;

				.link {
					.icon {
						color: $gray-dark;
					}
				}
			}

			.link {
				@extend .nav-link;
				display: block;
				position: relative;

				.icon {
					font-size: 1.3rem;
					color: darken($gray-lighter, 10%);
					@include transition(0.3s);
				}

				.status {
					width: 10px;
					height: 10px;
					position: absolute;
					top: -6px;
					left: 58%;
					background-color: #5FA5FA;
					border-radius: 50%;
				}
			}
		}
	}

	.logo {
		position: absolute;
		bottom: 2%;
		left: 50%;
		transform: translate(-50%,-0);

		.image {
			height: 40px;
		}

		@media(max-device-width: map-get($grid-breakpoints, md)) and (orientation : landscape) {
			position: relative;
			margin-top: 2rem;
		}
	}
}

.open-offcanvas {
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		background-color: rgba(#000, 0.5);
		@include transition(left .3s);
	}

	.off-canvas {
		left: 0;
		@include transition(left .3s);
	}
}