.select-default {
	width: 160px;
	height: 36px;
	background-color: $white;
	background-image: url(../img/arrow-select.png);
	background-repeat: no-repeat;
	background-position: right;
	color: #A4A4A4;
	outline: none;
	text-indent: 14px;
	border-radius: 6px;
	border: 0;
	appearance: none;
}